body {
  margin: 0px 0px 0px 0px;
}

p {
  font-family: 'Open Sans';
}

.hidden {
  display: none;
}

header {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  height: 8vh;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 800;
  text-transform: uppercase;
  width: fit-content;
}

h1, .search {
  margin: 5px;
}

.search-button {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0px;
  width: 30px;
}

.search-field {
  display: inline-block;
  height: 30px;
  margin: 0px;
  width: 200px;
}

.main-page {
  display: flex;
  background: #F3F6F7;
  width: 100%;
  height: calc(100% - 8vh);
}

aside {
  align-items: center;
  background-color: #587A8A;
  border-right: solid #3C6577;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 30%;
}

.create-new {
  align-items: center;
  border-bottom: solid #3C6577;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.new-task-title {
  width: 85%;
}

.input-name {
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
}

#task-title-input {
  border: solid;
  border-color: #1F1F3D;
  height: 40px;
  width: 100%;
}

.new-task-item {
  width: 85%;
}

#task-item-input {
  border: solid;
  border-color: #1F1F3D;
  display: inline-block;
  height: 40px;
  width: 80%;
}

.new-task-item-button {
  background-color: #1F1F3D;
  border: none;
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 20px;
  height: 40px;
  margin: 0px;
  width: 16%;
}

.make-task-button, .clear-button, .urgency-sort-button  {
  background-color: #1F1F3D;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  margin: 10px 0px 10px 0px;
  width: 85%;
}

.urgency-sort {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.urgency-sort-button {
  height: 40px;
  margin: 10px 0px 10px 0px;
  width: 85%;
}

.current-tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

.starting-message {
  margin: 60px 200px 60px 200px;
}

.todo-list-card {
  background-color: #FAFDFF;
  border: solid #C7D3D8;
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
}

.todo-list-card h2, p {
  color: #1F1F3D;
  font-family: 'Open Sans';
}

h2 {
  border-bottom: solid #C7D3D8;
  margin: 0px;
  padding: 15px 10px 15px 10px;
}

.task-item {
  margin: 15px 10px 15px 10px;
}

.checkbox-button {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.todo-list-card p {
  display: inline-block;
  font-size: 20px;
}

.task-actions {
  border-top: solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.task-urgent, .task-delete {
  margin: 5px;
}

.urgent-button, .delete-button, .task-actions-text {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.urgent-button, .delete-button {
  height: 25px;
  width: 25px;
}
